<div class="dashboard-container">
  <nav class="navbar">
    <div class="navbar-brand">
      <h2>Papikra</h2>
    </div>
    <div class="navbar-menu">
      <div *ngIf="currentUser$ | async as user" class="user-info">
        <span>Bem-vindo, {{ user.firstName }}</span>
        <button class="btn btn-logout" (click)="logout()">Sair</button>
      </div>
    </div>
  </nav>

  <div class="content">
    <h1 class="font-bold">Dashboard</h1>
    <p>Você está autenticado e pode acessar esta página protegida.</p>

    <div *ngIf="currentUser$ | async as user" class="user-card">
      <h3 class="font-bold">Informações do Usuário</h3>
      <p><strong>Nome:</strong> {{ user.firstName + " " + user.lastName }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
    <div class="user-card mt-2">
      <h3 class="font-bold">Agendamento</h3>
      <div class="flex">
        <div class="flex-1">
          <p>Criar agendamento</p>
        </div>
        <div class="flex-1 flex justify-end">
          <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
            <button
              class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
            >
              Agendar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
